<div>
    <h1>Login</h1>
    <form id="loginForm">
        <input name="email" type="email" placeholder="Escribe tu email">
        <br>
        <br>
        <input type="password" name="password" placeholder="Escribe la contraseña">
        <br>
        <br>
        <input type="submit">
    </form>
    <p>¿No estás registrado? <a href="/register">Regístrate aquí</a></p>
</div>
<script src="/js/login.js"></script>