<div>
    <h1>Registro</h1>
    <form id="registerForm">
        <input name="firstName" type="text" placeholder="Escribe tu Nombre">
        <br>
        <br>
        <input name="lastName" type="text" placeholder="Escribe tu Apellido">
        <br>
        <br>
        <input name="email" type="email" placeholder="Escribe tu email">
        <br>
        <br>
        <input type="password" name="password" placeholder="Escribe la contraseña">
        <br>
        <br>
        <input type="submit">
    </form>
    <p>¿Ya estás registrado? <a href="/login">Iniciar Sessión</a></p>
</div>
<script src="/js/register.js"></script>